@import 'simplelightbox/dist/simple-lightbox.min.css';
@import url('./gallery.css');
@import url('./form.css');
.styles {
  border-radius: 50%;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
}
